# ============================
# Example Exclude List
# ============================

# General Exclusions
# ------------------

# Cache Directories
*/cache*/
*/Cache*/

# Temporary Files
*.tmp
*.log
*.bak

# Large User Directories
Downloads/
Music/
Pictures/
Videos/
VirtualBox VMs/

# Development and Build Files
# ---------------------------

# Development Build Directories
*/node_modules/
*/build/
*/_build/
*/o/

# Git-Related Files
*/.git/
*/.git-lfs/
*/.gitmodules

# Platform and Application Specific Files
# ---------------------------------------

# Desktop Environment Files
.dmrc
.gtkrc-2.0
.gtkrc-xfce
.ICEauthority
.Xauthority
.xinputrc
.xsession-errors
.xsession-errors.old

# Platform-Specific Artifacts
.DS_Store
Thumbs.db

# ~/.local/share Exclusions
.local/share/Trash/
.local/share/Steam/
.local/share/Recent/

# Sensitive Files
# ---------------

# History and Credentials
.*_history
.rdbg_history
.git-credentials

# Application Data
.1password/
.sudo_as_admin_successful
.wget-hsts

# Notes
# -----
# Modify this file to suit your specific backup needs. Test the configuration before relying on it for critical data.
